.text {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.text h1 {
    font-size: 50px;
    font-weight: 600;
    color: black;
}
.line {
    width: 140px;
    height: 4px;
    background-color: rgb(255, 128, 0);
    margin-block: 5px 15px;
}
.text span {
    font-size: 22px;
    font-weight: 500;
    color: rgb(73, 66, 66);
}
.cards-container {
    display: flex;
    flex-direction: row;
}
.special-collections  {
    margin-top: 1100px;
}